.todo-container {
    margin-top: 9px;
    padding: 11px 20px;
}

.todo-card {
    display: flex;
    justify-content: space-between;
    position: relative;
}

.btn1 {
    font-size: 9px;
    position: absolute;
    right: 54px;
}

.btn2 {
    font-size: 9px;
    position: absolute;
    right: -16px;
}

.updation-form {
    margin-top: 14px;

    button {
        font-size: 12px;
    }
}